{% extends 'base.html' %}

{% block title %} | Home {% endblock title %}

<!-- header -->
{% block header %} {% include 'header.html' %} {% endblock header %}
<!-- header done -->
  
<!-- carousel -->
{% block carousel %}
    {% include 'carousel.html' %}
{% endblock carousel %}
<!-- carousel done -->

<!-- content -->
{% block content %}
    
<div class="container mt-5 mb-5 bg-secondary">
  <h2 class="text-center text-capitalize latest">Latest Product</h2>
  <div class="row justify-content-center">
     {% if adeyemi %} 
        {% for items in adeyemi %} 
          <div class="col-10 col-sm-10 col-md-5 col-lg-3 col-xl-3">
            <div class="card">
              <img src="{{items.img.url}}" class="card-img-top imgg" alt="...">
              <div class="like"></div>
              <div class="card-body">
                <h5 class="card-title">{{items.title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.{{items.title}}</p>
                <a href="{% url 'category' items.id items.slug %}" class="btn btn-primary">See Products</a>
              </div>
            </div>
          </div>
        {% endfor %}
     {% endif %}
  </div>
</div>
{% endblock content %}

<!-- content done -->

{% block contact %}  {% include 'contact.html' %}   {% endblock contact %}

{% block about %}  {% include 'about.html' %}   {% endblock about %}

{% block team %}  {% include 'team.html' %}   {% endblock team %}

{% block footer %}  {% include 'footer.html' %}   {% endblock footer %}