{% load static %}

<div class="container mt-5 mb-5 text-capitalize">
  <h2 slass="text-center text-capitalize">Our team</h2>
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-4">
      <div class="card fate">
        <img src="{% static '' %}img/image_downloader_1663754660346.jpg" class="card-img-top rounded-pill imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team Cyber dev</h5>
          <p class="card-text">portfolio: Jnr.dev</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4">
      <div class="card fate">
        <img src="{% static '' %}img/image_downloader_1663754660346.jpg" class="card-img-top rounded-pill imgg" alt="...">
        <div class="card-body">
          <h5 class="card-title">Team Cyber dev2.</h5>
          <p class="card-text">portfolio: Jnr.dev</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-6 col-md-4">
      <div class="card fate">
        <img src="{% static '' %}img/image_downloader_1663754672887.jpg" class="card-img-top rounded-start imgg " alt="...">
        <div class="card-body">
          <h5 class="card-title">Team Cyber dev3.</h5>
          <p class="card-text">portfolio: Jnr.dev</p>
          <a href="https://www.facebook.com" class="btn">meet</a>
        </div>
      </div>
    </div>
  </div>
</div>